@font-face {
	font-family: RobotoCondensed-Light;
	src: url(fonts/RobotoCondensed-Light.ttf);
}
body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;

}
#sidenav-overlay {
	position: inherit;
}
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	max-width: 1600px;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mygatepass {
	background-color: #F4F4F4;
	padding: 10px;
	width: 100%;
	padding-right: 130px;
	text-align: right;
}
nav {
	background-color: #ffffff !important;
	height: 70px;
}
nav .nav-wrapper {
	padding: 5px;
}
.brand-logo {
	color: red
}
.nav-wrapper .button-collapse {
	color: purple;
	
}
.nav-wrapper .button-collapse i {
	font-size: 48px;
}
.brand-logo img {
	height: 60px;
}
nav ul a {
	color: black;
}
nav .login-button input[type='button'] {
	background: #ffffff;
	color: #6D0089;
	border: 2px solid #6D0089;
	padding: 8px;
	border-radius: 18px;
	font-weight: bold;
}
.pass-background {
	background: url("images/slider-background.png");
	background-repeat: no-repeat;
	width: 100%;
	float:left;
	display: inline-block;
	background-size: cover;
}
.create-share {
	background: #fff;
	margin-top: 95px;
	opacity: 0.7;
}
.welcome-pass {
	text-align: center;
}
.welcome-pass, .welcome-pass .simple-secure {
  padding: 0;
  margin: 10px auto;
}
.welcome-pass .simple-secure {
	color: purple;
	font-size: 18px;
}
.slider-wrapper {
	width: 100%;
}
.purple--text{
	color: #603384;
}

.slider--data h2 {
	font-size: 35px;
	margin-bottom: 0;
	font-family: RobotoCondensed-Light;
	text-transform: uppercase;
}

.slider--data h1 {
	font-weight: bold;
	font-size: 48px; 
	margin-top: 0;
	border-bottom: 1px dotted #603384;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
	margin-right: 50px;
}
.slider--data h6 {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 15px;
}
.slider--img {
	margin:0;
	
	position: relative;
	z-index: 1;
	margin-left: 60px;
	background-size: 380px;
}
.slider--img.col.m4.s> img {
  width: 88%;
}

.slider--action img {
	height: 40px;
}
.slider--data p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin
}
.security-guard img {
width:100%;
	
}
.security-guard {
  float: left;
position: relative;
	top: 140px;
	margin-left: 50px;
}
.slider--section {
	margin-top: 129px;
}

.row .slider--section .slider--data {
	background: rgba(255,255,255,.7);
	margin-left: -120px;
	position: relative;
	z-index: 0;
	margin-top: 50px;
	padding: 0px 0px 0px 35px;
	padding-bottom: 20px;
}
.welcome-pass {
  margin: 100px 0;
}
.welcome-heading {
	color: #603384;
	font-size: 48px;
}
.last-Bold {
	color: #603384;
	font-size: 48px;
	font-weight: bold;
	padding-left: 12px;
}
.welcome-pass p {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  margin: 50px auto 0;
  width: 85%;
}

/* .welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar::after {
  background-color: #33a180;
  content: "";
  height: 5px;
   transform:translateX(550px);
  width: 20%;
} */
.line {
  background-color: #33a180;
  border: 0 none;
  box-sizing: content-box;
  height: 5px;
  width: 20%;
}
.enable-platform .last-Bold-getpass {
	font-weight: bold ;
}
.how-work {
	
	float:left;
	
	width: 100%;
	
}
.how-work img{
	width:100%;
	float:left;
}
.how-heading {
	
	text-align: center;
	
	width:100%;
	float:left;
}

.how-heading, .how-head {
	color: black;
	font-size: 48px;
}
.how-heading .last-Bold-works {
	font-weight: bold;
	padding-left: 12px;
}
.popup {
	    top: 35% !important;
    border-radius: 25px;
}
.popup h4 {
	color: purple;
}
#platform {
  float: left;
  width: 100%;
}
.enable-platform {
  float: left;
  margin-top: 60px;
  width: 100%;
}
.enable-platform .welcome-gatepass-platfrom {
	text-align: center;
}
.welcome-gatepass-platfrom {
	color: #603384;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
}
.enable-platform .enable-images {
	padding-top: 40px;
	padding-bottom: 60px;
	margin:auto;
}
.col.m5.offset-m1.laptop > img {
  width: 100%;
}
.enable-images .laptop {
	
	
	margin-top: 70px;
}
.form-section {
	background-color: #4EC4A1;
	border-radius: 10px;
	padding: 45px !important;
	position: relative;
}
.form-section:after {
	content: "";
	position: absolute;
	background: rgb(78,196,161);
	display: block;
	width: 100%;
	height: 60px;
	bottom: -60px;
	transform: rotate(180deg);
	-webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	left: 0;
	border-radius: 10px;
}
.form-section .enable-pass {
	color: #603384;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.form-section h2 {
	margin: 0;
	color: #ffffff;
	font-size: 35px;
}

.form-section p {
	color: #fff;
	margin: 0;
	font-size: 18px;
}
.form-section .input-field label,.form-section .input-field input[type=text]:focus + label, .form-section .input-field input[type=tel]:focus + label, .form-section .input-field input[type=email]:focus + label  {
	color: #fff;
}
.form-section .input-field input[type=text], .form-section .input-field input[type=tel], .form-section .input-field input[type=email]   {
	border-bottom: 1px solid #fff;
}
.form-section .form-button {
	background: purple;
	color: #fff;
	border: none;
	padding: 12px 35px 12px 35px;
	margin-left: 10px;
	outline: none;
	line-height: 1;
}
.footer-background {
	background: url('images/footer-bg.png');
	
	background-size: cover;
	text-align: center;
	padding-top: 25px;
	width:100%;
	float:left;
}
.menues ul li {
	color: #ffffff;
	display: inline;

}
.menues ul li {
	border-right: 1px solid #ffffff;
	padding-right: 10px; 
	padding-left: 10px;
	color: #ffffff;
}
.menues ul li a {
	color: #ffffff;
}
.menues ul li:last-child {
	border-right: none;
}
.menues {
	padding-top: 15px !important;
}
.social img {
	padding-top: 25px;
}
.copyright {
	color: #fff;
	text-align: center;
	padding-top: 60px;
}
.close-btn {
	font-size: 35px;
	color: red;
}
.popup-wrapper {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 8px #aaa;
	overflow: hidden;
}
.popup-title {
	padding: 10px 15px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #f0f0f0;
}
.popup-title h3 {
	margin: 0;
	line-height: 1.5em;
	color: #333;
}
.popup-body {
	padding: 10px 15px;
	color: #555;
}
.popup-close {
	float: right;
	margin-top: 2px;
	padding: 0;
	font-size: 24px;
	line-height: 1;
	border: 0;
	background: transparent;
	color: #aaa;
	cursor: pointer;
}
.popup-close:hover { 
	color: #333; 
}


/*media query*/
@media (min-width:320px) and (max-width:479px)
{
	.slider--section {
  margin-top: 60px;
 
}
.security-guard img {
 
  width: 70%;
}
.security-guard {
  margin:0;
  text-align: center;
  top: 4px;
}
.row .slider--section .slider--data {
 
 margin:0;
 padding:0 9px;
}
.welcome-pass {
  margin: 31px 0;
  width: 100%;
  float: left;
}
.last-Bold {

  font-size: 40px;

}
.welcome-heading {
 
  font-size: 25px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar::after {
 
  transform: translateX(130px);
 
}
.welcome-pass p {
 
  font-size: 16px;
  margin: 12px auto 0;
  padding: 0 2px;
  
  width: 92%;
}
.how-heading {
  float: left;
  
  top: -168px;
}

.how-heading, .how-head {
  
  font-size: 30px;
}
	.enable-platform {
 
  margin-top: 0px;

}
.welcome-gatepass-platfrom {
  
  font-size: 40px;
}
.enable-images .laptop {
  margin-top: 15px;
}

.enable-platform .enable-images {
  padding-bottom:58px;
  padding-top:0;
}
.form-section .enable-pass {
 
  font-size: 12px;
  
}.form-section h2 {
  
  font-size: 20px;
  
}
.platform form .input-field{margin:0 0 10px;}
.social img {
  padding-top: 0px;
}
ul:not(.browser-default) {
 
  margin: 0;
}
.nav-wrapper .button-collapse i {
  font-size: 25px;
}
.slider--data h1 {
 margin-right:0;
  font-size: 28px;
 
}
.slider--data h2 {
  
  font-size: 18px;
 
}
.slider--data h6 {
 
  font-size: 14px;
  
}
.slider--action img {
  height: 30px;
}
.slider--data p {
  
  font-size: 10px;
 
}



}
	
	@media(min-width:480px)and (max-width:639px)
	{
		
.slider--img.col.m4.s > img {
  width: 100%;
}
	.slider--section {
  margin-top: 60px;
 
}
.security-guard img {
 
  width: 100%;
}
.security-guard {
  margin:0;
  text-align: center;
  top: 43px;
  width:32%;
}

.row .slider--section .slider--data {
 
 margin:0;
 padding:0 9px;
}
.welcome-pass {
  margin: 31px 0;
  width: 100%;
  float: left;
}
.last-Bold {

  font-size: 40px;

}
.welcome-heading {
 
  font-size: 25px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar::after {
 
  transform: translateX(130px);
 
}
.welcome-pass p {
 
  font-size: 16px;
  margin: 12px auto 0;
  padding: 0 2px;
  
  width: 92%;
}
.how-heading {
  float: left;
  
  top: -235px;
}

.how-heading, .how-head {
  
  font-size: 22px;
}
	.enable-platform {
 
  margin-top: 0px;

}
.welcome-gatepass-platfrom {
  
  font-size: 40px;
}
.enable-images .laptop {
  margin-top: 15px;
}

.enable-platform .enable-images {
  padding-bottom:58px;
  padding-top:0;
}
.form-section .enable-pass {
 
  font-size: 12px;
  
}.form-section h2 {
  
  font-size: 20px;
  
}
.platform form .input-field{margin:0 0 10px;}
.social img {
  padding-top: 0px;
}
ul:not(.browser-default) {
 
  margin: 0;
}
.nav-wrapper .button-collapse i {
  font-size: 25px;
}
.slider--data h1 {
 margin-right:0;
  font-size: 13px;
 
}
.slider--data h2 {
  
  font-size: 12px;
 
}
.slider--action img {
  height: 22px;
}
.slider--data p {
  
  font-size: 10px;
 
}
.slider--data h6 {
  
  font-size: 10px;
 
}
.slider--img.col.m4.s  {
 
 margin-left:0;
 width:37%;
}
	.row .slider--section .slider--data {

  width: 31%;
 
}	
.col.m12.enable-images {
  margin: 15px auto 0;
}
.col.m5.laptop > img {
  width: 100%;
}
.enable-images .laptop {
  margin:0;
}
.col.m12.enable-images {
  display: inline-flex;
  margin: 15px auto 0;
}
.input-field.col.m12.s12 {
  margin: 0;
}
.col.m5.form-section {
  padding: 10px;
}
		
	}
	@media(min-width:640px)and (max-width:767px)
	{
		.slider--img.col.m4.s > img {
  width: 100%;
}
	.slider--section {
  margin-top: 60px;
 
}
.security-guard img {
 
  width: 100%;
}
.security-guard {
  margin:0;
  text-align: center;
  top: 43px;
  width:37%;
}

.row .slider--section .slider--data {
 
 margin:20px 0 0 -45px;
 padding:0 9px;
}
.welcome-pass {
  margin: 31px 0;
  width: 100%;
  float: left;
}
.last-Bold {

  font-size: 40px;

}
.welcome-heading {
 
  font-size: 25px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar::after {
 
  transform: translateX(130px);
 
}
.welcome-pass p {
 
  font-size: 16px;
  margin: 12px auto 0;
  padding: 0 2px;
  
  width: 92%;
}
.how-heading {
  float: left;
  
  top: -168px;
}

.how-heading, .how-head {
  
  font-size: 22px;
}
	.enable-platform {
 
  margin-top: 0px;

}
.welcome-gatepass-platfrom {
  
  font-size: 40px;
}
.enable-images .laptop {
  margin-top: 15px;
}

.enable-platform .enable-images {
  padding-bottom:58px;
  padding-top:0;
}
.form-section .enable-pass {
 
  font-size: 12px;
  
}.form-section h2 {
  
  font-size: 20px;
  
}
.platform form .input-field{margin:0 0 10px;}
.social img {
  padding-top: 0px;
}
ul:not(.browser-default) {
 
  margin: 0;
}
.nav-wrapper .button-collapse i {
  font-size: 25px;
}
.slider--data h1 {
 margin-right:0;
  font-size: 20px;
 
}
.slider--data h2 {
  
  font-size: 18px;
 
}
.slider--action img {
  height: 26px;
}
.slider--data p {
  
  font-size: 13px;
 
}
.slider--data h6 {
  
  font-size: 14px;
 
}
.slider--img.col.m4.s  {
 
 margin-left:0;
 width:37%;
}
	.row .slider--section .slider--data {

  width: 31%;
 
}	
.col.m12.enable-images {
  margin: 15px auto 0;
}
.col.m5.laptop > img {
  width: 100%;
}
.enable-images .laptop {
  margin:0;
}
.col.m12.enable-images {
  display: inline-flex;
  margin: 15px auto 0;
}
.input-field.col.m12.s12 {
  margin: 0;
}
.col.m5.form-section {
  padding: 10px;
}
		
	}



@media(min-width:768px)and (max-width:991px){
	
		.slider--img.col.m4.s > img {
  width: 100%;
}
	.slider--section {
  margin-top: 60px;
 
}
.security-guard img {
 
  width: 100%;
}
.security-guard {
  margin:0;
  text-align: center;
  top: 43px;
  width:36%;
}

.row .slider--section .slider--data {
 
 margin:20px 0 0 -45px;
 padding:0 9px;
}
.welcome-pass {
  margin: 31px 0;
  width: 100%;
  float: left;
}
.last-Bold {

  font-size: 40px;

}
.welcome-heading {
 
  font-size: 25px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar::after {
 
  transform: translateX(406px);
 
}
.welcome-pass p {
 
  font-size: 16px;
  margin: 12px auto 0;
  padding: 0 2px;
  
  width: 92%;
}
.how-heading {
  float: left;
  
  top: -168px;
}

.how-heading, .how-head {
  
  font-size: 22px;
}
	.enable-platform {
 
  margin-top: 0px;

}
.welcome-gatepass-platfrom {
  
  font-size: 40px;
}
.enable-images .laptop {
  margin-top: 15px;
}

.enable-platform .enable-images {
  padding-bottom:58px;
  padding-top:0;
}
.form-section .enable-pass {
 
  font-size: 12px;
  
}.form-section h2 {
  
  font-size: 20px;
  
}
.platform form .input-field{margin:0 0 10px;}
.social img {
  padding-top: 0px;
}
ul:not(.browser-default) {
 
  margin: 0;
}
.nav-wrapper .button-collapse i {
  font-size: 25px;
}
.slider--data h1 {
 margin-right:0;
  font-size: 20px;
 
}
.slider--data h2 {
  
  font-size: 18px;
 
}
.slider--action img {
  height: 26px;
}
.slider--data p {
  
  font-size: 13px;
 
}
.slider--data h6 {
  
  font-size: 14px;
 
}
.slider--img.col.m4.s  {
 
 margin-left:0;
 width:37%;
}
	.row .slider--section .slider--data {

  width: 31%;
 
}	
.col.m12.enable-images {
  margin: 15px auto 0;
}
.col.m5.laptop > img {
  width: 100%;
}
.enable-images .laptop {
  margin:0;
}
.col.m12.enable-images {
  display: inline-flex;
  margin: 15px auto 0;
}
.input-field.col.m12.s12 {
  margin: 0;
}
.col.m5.form-section {
  padding: 10px;
}
	
}
@media(min-width:992px)and (max-width:1200px){
	.security-guard {
 
  top: 86px;
  width:30%;
}	
.row .slider--section .slider--data {
 
  margin-left: -104px;
  
}
.slider--data h2 {
 
  font-size: 20px;
  
}
.slider--data h1 {

  font-size: 30px;
 
}
.slider--data p {
 
  font-size: 12px;
  
}
.slider--data h6 {
 
  font-size: 16px;
  
}
.slider--action img {
  height: 34px;
}
}
@media(min-width:1201px) and (max-width:1300px)
{
.security-guard {
  margin-left: 50px;
  position: relative;
  top: 94px;
}
}