@font-face {
	font-family: RobotoCondensed-Light;
	src: url(fonts/RobotoCondensed-Light.ttf);
}
body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;

}
#sidenav-overlay {
	position: inherit;
}
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mygatepass {
	background-color: #F4F4F4;
	padding: 10px;
	width: 100%;
	padding-right: 130px;
	text-align: right;
}
nav {
	background-color: #ffffff !important;
	height: 70px;
}
nav .nav-wrapper {
	padding: 5px;
}
.brand-logo {
	color: red
}
.nav-wrapper .button-collapse {
	color: purple;
	
}
.nav-wrapper .button-collapse i {
	font-size: 48px;
}
.brand-logo img {
	height: 60px;
}
nav ul a {
	color: black;
}
nav .login-button input[type='button'] {
	background: #ffffff;
	color: #6D0089;
	border: 2px solid #6D0089;
	padding: 8px;
	border-radius: 18px;
	font-weight: bold;
}
.pass-background {
	background: url("images/slider-background.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 590px;
	display: inline-block;
	background-size: cover;
}
.create-share {
	background: #fff;
	margin-top: 95px;
	opacity: 0.7;
}
.welcome-pass {
	text-align: center;
}
.welcome-pass .ai, .welcome-pass .simple-secure {
	padding: 0;
}
.welcome-pass .simple-secure {
	color: purple;
	font-size: 18px;
}
.slider-wrapper {
	width: 100%;
}
.purple--text{
	color: #603384;
}

.slider--data h2 {
	font-size: 35px;
	margin-bottom: 0;
	font-family: RobotoCondensed-Light;
	text-transform: uppercase;
}

.slider--data h1 {
	font-weight: bold;
	font-size: 48px; 
	margin-top: 0;
	border-bottom: 1px dotted #603384;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
	margin-right: 50px;
}
.slider--data h6 {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 15px;
}
.slider--img {
	background: url(images/slider-img.png) no-repeat;
	height: 590px;
	position: relative;
	z-index: 1;
	margin-left: 60px !important;
	background-size: 380px;
}
.slider--action img {
	height: 40px;
}
.slider--data p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 5px;
}
.security-guard img {

	position: relative;
	top: 111px;
	padding-left: 50px;
}

.slider--section {
	margin-top: 129px;
}

.row .slider--section .slider--data {
	background: rgba(255,255,255,.7);
	margin-left: -92px;
	position: relative;
	z-index: 0;
	margin-top: 50px;
	padding: 0px 0px 0px 35px;
	padding-bottom: 20px;
}

.welcome-pass {
	padding: 100px;
}
.welcome-heading {
	color: #603384;
	font-size: 48px;
}
.last-Bold {
	color: #603384;
	font-size: 48px;
	font-weight: bold;
	padding-left: 12px;
}
.welcome-pass p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-top: 50px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar {
	border-bottom: 5px solid #33A180;
	width: 20%;
	margin: 0 auto;
}
.enable-platform .last-Bold-getpass {
	font-weight: bold ;
}
.how-work {
	background: url(images/it-works-background.png);
	height: 670px;
	background-size: contain;
	width: 100%;
	background-repeat: no-repeat;
}
.how-work img{
	width:100%;
}
.how-heading {
	position: relative;
	text-align: center;
	top: -639px;
}
.how-heading, .how-head {
	color: #ffffff;
	font-size: 48px;
}
.how-heading .last-Bold-works {
	font-weight: bold;
	padding-left: 12px;
}
.enable-platform {
	margin-top: 60px;
}
.enable-platform .welcome-gatepass-platfrom {
	text-align: center;
}
.welcome-gatepass-platfrom {
	color: #603384;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
}
.enable-platform .enable-images {
	padding-top: 40px;
	padding-bottom: 60px;
}
.enable-images .laptop {
	background: url('images/laptop.png') no-repeat;
	height: 383px;
	background-size: 90%;
	margin-top: 70px;
}
.form-section {
	background-color: #4EC4A1;
	border-radius: 10px;
	padding: 45px !important;
	position: relative;
}
.form-section:after {
	content: "";
	position: absolute;
	background: rgb(78,196,161);
	display: block;
	width: 519px;
	height: 59px;
	bottom: -60px;
	transform: rotate(180deg);
	-webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	left: 0;
	border-radius: 10px;
}
.form-section .enable-pass {
	color: #603384;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.form-section h2 {
	margin: 0;
	color: #ffffff;
	font-size: 35px;
}

.form-section p {
	color: #fff;
	margin: 0;
	font-size: 18px;
}
.form-section .input-field label,.form-section .input-field input[type=text]:focus + label, .form-section .input-field input[type=tel]:focus + label, .form-section .input-field input[type=email]:focus + label  {
	color: #fff;
}
.form-section .input-field input[type=text], .form-section .input-field input[type=tel], .form-section .input-field input[type=email]   {
	border-bottom: 1px solid #fff;
}
.form-section .form-button {
	background: purple;
	color: #fff;
	border: none;
	padding: 12px 35px 12px 35px;
	margin-left: 10px;
	outline: none;
	line-height: 1;
}
.footer-background {
	background: url('images/footer-bg.png');
	height: 236px;
	background-size: cover;
	text-align: center;
	padding-top: 25px;
}
.menues ul li {
	color: #ffffff;
	display: inline;

}
.menues ul li {
	border-right: 1px solid #ffffff;
	padding-right: 10px; 
	padding-left: 10px;
	color: #ffffff;
}
.menues ul li a {
	color: #ffffff;
}
.menues ul li:last-child {
	border-right: none;
}
.menues {
	padding-top: 15px !important;
}
.social img {
	padding-top: 25px;
}
.copyright {
	color: #fff;
	text-align: center;
	padding-top: 60px;
}
.close-btn {
	font-size: 35px;
	color: red;
}
.popup-wrapper {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 8px #aaa;
	overflow: hidden;
}
.popup-title {
	padding: 10px 15px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #f0f0f0;
}
.popup-title h3 {
	margin: 0;
	line-height: 1.5em;
	color: #333;
}
.popup-body {
	padding: 10px 15px;
	color: #555;
}
.popup-close {
	float: right;
	margin-top: 2px;
	padding: 0;
	font-size: 24px;
	line-height: 1;
	border: 0;
	background: transparent;
	color: #aaa;
	cursor: pointer;
}
.popup-close:hover { 
	color: #333; 
}


/*media query*/

@media(min-width:768px)and (max-width:991px){
	.how-work {
		margin-top: 100px;
	}
	.how-heading {
		position: relative;
		top: -505px;
	}
	.how-heading h3 {

		font-size: 16px;
		margin: 0;
	}
	.pass-background {
		background: rgba(0, 0, 0, 0) url("images/slider-background.png") no-repeat scroll 0 0 / cover;


	}
	.pass-background {
		height: 248px;
	}
	.slider--section {
		margin-top: 20px;
	}
	.slider--img {
		background: rgba(0, 0, 0, 0) url("images/slider-img.png") no-repeat scroll 0 0 / contain;
		height: 247px;


	}
	.row .slider--section .slider--data {
		margin-left: -162px;
		margin-top: 30px;
		padding: 0 0 0 9px;
	}
	.security-guard {
		text-align: center;
	}
	.security-guard img {
		height: 195px;
		position: relative;
		text-align: center;
		top: 32px;
		width: 42%;
	}
	.slider--data h2 {

		font-size: 12px;
		margin: 12px 0 8px;

	}

	.slider--action {
		margin-bottom: 3px;

	}
	.slider--data h1 {

		font-size: 15px;

		margin:0;

	}
	.slider--data p {

		font-size: 10px;
		margin: 0;
	}
	.slider--data h6 {

		font-size: 9px;

		margin: 0 0 12px;
	}
	.slider--action {
		width: 100%;
	}
	.slider--action img {
		height: 21px;
	}


	.welcome-pass {
		margin-top:0;
		padding:0;
	}
	.welcome-heading {

		font-size: 30px;
		margin-top: 100px;
	}
	.welcome-pass span {

		font-size: 28px;

	}
	.welcome-pass p {

		font-size: 13px;
		padding:0;
	}
	.enable-platform {
		margin:0;
	}
	.welcome-gatepass-platfrom {

		font-size: 33px;
	}

	.form-section h2 {

		font-size: 20px;

	}
	.form-section .enable-pass {

		font-size: 12px;

	}
	.enable-platform .enable-images {
		padding-bottom: 60px;
		padding-top:26px;

	}
	.col.s12.m5.offset-m1.laptop > img {
		width: 100%;
	}
	.form-section::after {

		height: 60px;

		width: 100%;
	}
	.footer-background {
		background: rgba(0, 0, 0, 0) url("images/footer-bg.png") repeat scroll 0 0 / 380px auto;
		padding-top:10px;
		height:120px;
	}
	.menues ul li {

		padding-left: 6px;
		padding-right: 6px;
	}
	.social img {
		padding-top: 6px;
	}
	ul:not(.browser-default) {

		margin: 0;

	}
}
@media and(min-width:992px)and (max-width:1200px){
	.how-work {
		height: 535px !important;
	}
	.how-heading {
		position: relative;
		top: -604px;
	}
	.how-heading h3 {

		font-size: 16px;
		margin: 0;
	}
	.pass-background {
		background: rgba(0, 0, 0, 0) url("images/slider-background.png") no-repeat scroll 0 0 / cover;


	}
	.pass-background {
		height: 248px;
	}
	.slider--section {
		margin-top: 20px;
	}
	.slider--img {
		background: rgba(0, 0, 0, 0) url("images/slider-img.png") no-repeat scroll 0 0 / contain;
		height: 247px;


	}
	.row .slider--section .slider--data {
		margin-left: -161px;
		margin-top: 30px;
		padding: 0 0 0 9px;
	}
	.security-guard {
		text-align: center;
	}
	.security-guard img {
		height: 195px;
		position: relative;
		text-align: center;
		top: 32px;
		width: 38%;
	}
	.slider--data h2 {

		font-size: 12px;
		margin: 12px 0 8px;

	}

	.slider--action {
		margin-bottom: 3px;

	}
	.slider--data h1 {
		font-size: 15px;
		margin:0;
	}
	.slider--data p {

		font-size: 10px;
		margin: 0;
	}
	.slider--data h6 {

		font-size: 9px;

		margin: 0 0 12px;
	}
	.slider--action {
		width: 100%;
	}
	.slider--action img {
		height: 21px;
	}


	.welcome-pass {
		margin-top:0;
		padding:0;
	}
	.welcome-heading {

		font-size: 30px;

	}
	.welcome-pass span {

		font-size: 28px;

	}
	.welcome-pass p {

		font-size: 13px;
		padding:0;
	}
	.enable-platform {
		margin:0;
	}
	.welcome-gatepass-platfrom {

		font-size: 33px;
	}

	.form-section h2 {

		font-size: 20px;

	}
	.form-section .enable-pass {

		font-size: 12px;

	}
	.enable-platform .enable-images {
		padding-bottom: 60px;
		padding-top:26px;

	}
	.col.s12.m5.offset-m1.laptop > img {
		width: 100%;
	}
	.form-section::after {

		height: 60px;

		width: 100%;
	}
	.footer-background {
		background: rgba(0, 0, 0, 0) url("images/footer-bg.png") repeat scroll 0 0 / 380px auto;
		padding-top:10px;
		height:120px;
	}
	.menues ul li {

		padding-left: 6px;
		padding-right: 6px;
	}
	.social img {
		padding-top: 6px;
	}
	ul:not(.browser-default) {

		margin: 0;

	}
	
}
