@font-face {
	font-family: RobotoCondensed-Light;
	src: url(fonts/RobotoCondensed-Light.ttf);
}
body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;

}
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mygatepass {
	background-color: #F4F4F4;
	padding: 10px;
	width: 100%;
	padding-right: 130px;
	text-align: right;
}
nav {
	background-color: #ffffff !important;
	height: 70px;
}
nav .nav-wrapper {
	padding: 5px;
}
.brand-logo {
	color: red
}
.brand-logo img {
	height: 60px;
}
nav ul a {
	color: black;
}
nav .login-button input[type='button'] {
	background: #ffffff;
	color: #6D0089;
	border: 2px solid #6D0089;
	padding: 8px;
	border-radius: 18px;
	font-weight: bold;
}
.pass-background {
	background: url("images/slider-background.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 590px;
	display: inline-block;
	background-size: cover;
}
.create-share {
	background: #fff;
	margin-top: 95px;
	opacity: 0.7;
}
.welcome-pass {
	text-align: center;
}
.slider-wrapper {
	width: 100%;
}
.purple--text{
	color: #603384;
}

.slider--data h2 {
	font-size: 35px;
	margin-bottom: 0;
	font-family: RobotoCondensed-Light;
	text-transform: uppercase;
}

.slider--data h1 {
	font-weight: bold;
	font-size: 48px; 
	margin-top: 0;
	border-bottom: 1px dotted #603384;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
	margin-right: 50px;
}
.slider--data h6 {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 15px;
}
.slider--img {
	background: url(images/slider-img.png) no-repeat;
	height: 590px;
	position: relative;
	z-index: 1;
	margin-left: 60px !important;
	background-size: 380px;
}
.slider--action img {
	height: 40px;
}
.slider--data p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 5px;
}

.slider--section {
	margin-top: 129px;
}

.row .slider--section .slider--data {
	background: rgba(255,255,255,.7);
	margin-left: -92px;
	position: relative;
	z-index: 0;
	margin-top: 50px;
	padding: 0px 0px 0px 35px;
	padding-bottom: 20px;
}
.security-guard {
	background-image: url(images/security-guard.png);
	height: 350px;
	width: 400px !important;
	position: relative;
	top: 111px;
}
.welcome-pass {
	padding: 100px;
}
.welcome-heading {
	color: #603384;
	font-size: 48px;
}
.welcome-pass span {
	color: #603384;
	font-size: 48px;
	font-weight: bold;
	padding-left: 12px;
	text-transform: uppercase;
}
.welcome-pass p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-top: 50px;
}
.welcome-pass .border-bar, .enable-platform .border-bar, .how-work .border-bar {
	border-bottom: 5px solid #33A180;
}
.how-work {
	background: url(images/it-works-background.png);
	height: 670px;
	background-size: contain;
	width: 100%;
	background-repeat: no-repeat;
}
.how-heading {
	text-align: center;
	position: relative;
	top: 35px;
}
.how-heading h3 {
	color: #ffffff;
}
.enable-platform {
	margin-top: 60px;
}
.enable-platform .welcome-gatepass-platfrom {
	text-align: center;
}
.welcome-gatepass-platfrom {
	color: #603384;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
}
.enable-platform .enable-images {
	padding-top: 40px;
	padding-bottom: 60px;
}
.enable-images .laptop {
	background: url('images/laptop.png') no-repeat;
	height: 383px;
	background-size: 90%;
	margin-top: 70px;
}
.form-section {
	background-color: #4EC4A1;
	border-radius: 10px;
	padding: 15px !important;
	position: relative;
}
.form-section:after {
	content: "";
	position: absolute;
	background: rgb(78,196,161);
	display: block;
	width: 519px;
	height: 59px;
	bottom: -60px;
	transform: rotate(180deg);
	-webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	left: 0;
	border-radius: 10px;
}
.form-section h2 {
	margin: 0;
	color: #ffffff;
	font-size: 35px;
}
.form-section .enable-pass {
	color: #603384;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.form-section p {
	color: #fff;
	margin: 0;
	font-size: 18px;
}
.form-section .input-field label, .form-section .input-field input[type=text]:focus + label {
	color: #fff;
}
.form-section .input-field input[type=text] {
	border-bottom: 1px solid #fff;
}
.form-section .form-button {
	background: purple;
	color: #fff;
	border: none;
	padding: 12px 35px 12px 35px;
	margin-left: 10px;
}
.footer-background {
	background: url('images/footer-bg.png');
	height: 236px;
	background-size: cover;
	text-align: center;
	padding-top: 25px;
}
.menues ul li {
	color: #ffffff;
	display: inline;

}
.menues ul li {
	border-right: 1px solid #ffffff;
	padding-right: 10px; 
	padding-left: 10px;
	color: #ffffff;
}
.menues ul li a {
	color: #ffffff;
}
.menues ul li:last-child {
	border-right: none;
}
.menues {
	padding-top: 15px !important;
}
.social img {
	padding-top: 25px;
}
.copyright {
	color: #fff;
	text-align: center;
	padding-top: 60px;
}